<link rel='stylesheet' href='/assets/about.css' />

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
              <li><a class="navbar-brand icon-home" href="/"><img src="/assets/logo.png"></a></li>
          </ul>
          <ul class="nav navbar-nav nav-center">
              <li><a href="/" class="active nav-link">Home</a></li>
              <li><a href="/pages/about" class="nav-link">About</a></li>
              <li><a href="/pages/product-info" class="nav-link">Product</a></li>
              <li><a href="/products" class="nav-link">Shop</a></li>
              <li><a href="/pages/contact" class="nav-link">Contact</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>



<ul class="nav nav-pills center-pills">
  <li role="presentation"><a href="#padlock">PadLOCK</a></li>
  <li role="presentation"><a href="#our-story">Our Story</a></li>
  <li role="presentation"><a href="#your-stories">Your Stories</a></li>
  <li role="presentation"><a href="#faq">FAQ</a></li>
</ul>

<div class="header1">
  <h1>padFIT</h1>
  <h3>Find out more</h3>
  <p><i class="fa fa-angle-down fa-5x icon-" aria-hidden="true"></i></p>
</div>

    <div class="about" id="padlock">
        <div class="col-xs-12 col-md-6 about-text">
          <p id="heading">Padlock</p>
          <p id="about-description">To allow any woman of size and stature to lead an active life without feeling uncomfortable due to fear of leakage. We aim to achieve this by offering an undergarment that provides security and peace of mind when being active for female tweens to the elderly.</p>
          <br>
          <p id="about-description">This product of underwear is designed for complete support while doing activities to playing sport. It is designed with an gusset for insertion of support pad which prevents movement of the pad in case of any leakage/incontinence.</p>
        </div>
        <div class="col-xs-12 col-md-4 about-img">

        </div>
    </div>

    <div class="our-story" id="our-story">
      <h1>Our Story</h1>
      <div class="wrap">
        <div class="col-xs-12 col-md-6">
            <p class="company-text1">We are a vibrant partnership of 3 women who are friends through our mutual love of sport. It was after one of our soccer games that the concept for our product was born. We have taken a journey that has encompassed many meetings, design ideas, business plans and market research to arrive at our final product destination. It was through our research and heartfelt discussions with hundreds of people that we realised we were on to something!</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <p class="company-text2">There was no product on the market that fulfilled the need for an undergarment that gave women assurance about being active and not worrying about leakage. Our product is revolutionary and the first of its kind on the market. Our uniquely designed gusset allows for a sanitary napkin/pad to be placed inside the gusset and the pad will not move but be locked into the undergarment for ultimate security.</p>
            <p class="footnote">- The padLOCK Team</p>
        </div>
      </div>
    </div>

    <div class="your-stories" id="your-stories">
      <h1>Your Stories</h1>
      <div class="col-md-2 col-md-offset-3 stories">
        <p class="read-more-head">"feugiat pharetra sem eu iaculis. Phasellus venenatis volutpat arcu id placerat."</p>
      </div>
      <div class="col-md-2 stories">
        <p class="read-more-head">"feugiat pharetra sem eu iaculis. Phasellus venenatis volutpat arcu."</p>
      </div>
      <div class="col-md-2 stories">
        <p class="read-more-head">"feugiat pharetra sem eu iaculis. Phasellu."</p>
      </div>
      <br><br><br>
  <ul class="nav nav-pills center-pills">
    <li class="read-more"><a data-toggle="pill" href="#home">read more</a></li>
    <li class="read-more"><a data-toggle="pill" href="#menu1">read more</a></li>
    <li class="read-more"><a data-toggle="pill" href="#menu2">read more</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

<div class="faq" id="faq">
  <h1>Frequently Asked Questions</h1>
  <h4>What Is Your Return Policy?</h4>
  <p>In the unlikely event of a manufacturing fault please return the faulty item within 10 days of delivery along with your purchase details and a description of the fault. Upon accepting a return we will offer a replacement pair or credit if a replacement is not available. Swing tags must still be attached to the garment. Returns will not be accepted for garments that display general wear associated with frequent use over time. Worn or damaged garments will not be exchanged.<br>
  SALE ITEMS: Please take care when purchasing Sale items as these garments cannot be exchanged</p>
  <br>
  <h4>What Happens If The Size I Order Is Incorrect?</h4>
  <p>We understand that ordering over the Internet can be difficult when it comes to sizing. If you find on receiving your order that the item does not fit, please contact us within 10 days of purchase. You will need to let us know which pair you ordered and what you would like to exchange it for so we can check if we have it in stock and we can put it aside for you. You are responsible for the postage costs to return the item to us. If you wish to have your return goods sent via Express Post, please include a return addressed Australia Post Express Post satchel or stamped and addressed envelope (for standard mail), with the item to be exchanged.</p>
  <br>
  <h4>Do You Offer Refunds?</h4>
  <p>We will not refund garments unless we are unable to supply an ordered item or the item is faulty.
  We will not refund due to change of mind or the fit is not flattering.</p>
  <br>
  <h4>What Happens If The Garment I Order Is No Longer Available?</h4>
  <p>We aim to always have available swim wear displayed on our website. From time to time it may arise that we are unable to supply particular items. When a product is no longer available it will show as size unavailable or be taken off the website. If we are unable to fulfill an order that has been placed, we will contact you and provide alternative purchase options or offer a credit.</p>
</div>





<script type="text/javascript" src="javascripts/smooth.js"></script>
