<link rel='stylesheet' href='/assets/about.css' />

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
              <li><a class="navbar-brand icon-home" href="/"><img src="/assets/logo.png"></a></li>
          </ul>
          <ul class="nav navbar-nav nav-center">
              <li><a href="/" class="active nav-link">Home</a></li>
              <li><a href="/pages/about" class="nav-link">About</a></li>
              <li><a href="/pages/product-info" class="nav-link">Product</a></li>
              <li><a href="/products" class="nav-link">Shop</a></li>
              <li><a href="/pages/contact" class="nav-link">Contact</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="faq" id="faq">
  <h1>Frequently Asked Questions</h1>
  <h4>What Is Your Return Policy?</h4>
  <p>In the unlikely event of a manufacturing fault please return the faulty item within 10 days of delivery along with your purchase details and a description of the fault. Upon accepting a return we will offer a replacement pair or credit if a replacement is not available. Swing tags must still be attached to the garment. Returns will not be accepted for garments that display general wear associated with frequent use over time. Worn or damaged garments will not be exchanged.<br>
  SALE ITEMS: Please take care when purchasing Sale items as these garments cannot be exchanged</p>
  <br>
  <h4>What Happens If The Size I Order Is Incorrect?</h4>
  <p>We understand that ordering over the Internet can be difficult when it comes to sizing. If you find on receiving your order that the item does not fit, please contact us within 10 days of purchase. You will need to let us know which pair you ordered and what you would like to exchange it for so we can check if we have it in stock and we can put it aside for you. You are responsible for the postage costs to return the item to us. If you wish to have your return goods sent via Express Post, please include a return addressed Australia Post Express Post satchel or stamped and addressed envelope (for standard mail), with the item to be exchanged.</p>
  <br>
  <h4>Do You Offer Refunds?</h4>
  <p>We will not refund garments unless we are unable to supply an ordered item or the item is faulty.
  We will not refund due to change of mind or the fit is not flattering.</p>
  <br>
  <h4>What Happens If The Garment I Order Is No Longer Available?</h4>
  <p>We aim to always have available swim wear displayed on our website. From time to time it may arise that we are unable to supply particular items. When a product is no longer available it will show as size unavailable or be taken off the website. If we are unable to fulfill an order that has been placed, we will contact you and provide alternative purchase options or offer a credit.</p>
</div>

<footer class="footer">
  <div class="footer-section">
    <a href="/pages/privacy-policy">Privacy Policy</a>
    <a href="/pages/terms-conditions">Terms & Conditions</a>
    <a href="/pages/faq">FAQ</a>
    <a href="/pages/shipping-information">Shipping Information</a>
  </div>
  <div class="footer-section1">
<p ted">padLOCK &copy; 2016</p>
  </div>
</footer>
