<link rel='stylesheet' href='/assets/about.css'/>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="navbar-brand icon-home" href="/"><img src="/assets/logo.png"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav nav-center">
                <li>
                    <a href="/" class="active nav-link">Home</a>
                </li>
                <li>
                    <a href="/pages/about" class="nav-link">About</a>
                </li>
                <li>
                    <a href="/pages/product-info" class="nav-link">Product</a>
                </li>
                <li>
                    <a href="/products" class="nav-link">Shop</a>
                </li>
                <li>
                    <a href="/pages/contact" class="nav-link">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br><br><br>
<h1 class="contact-h1">Shipping Information</h1>
<div class="faq" id="faq">
    <p>Shipping costs are determined by the weight for each item.</p><br>

    <p>Delivery Within Australia</p><br>

    <p>We deliver by Australia Post Express Post Service.</p><br>

    <p>Delivery Charge is AUD$10.00</p><br>

    <p>Delivery to Capital Cities - excluding Perth - Next Day Delivery.</p><br>

    <p>All other areas please allow 2-3 working Days.</p><br>

    <p>International Deliveries</p><br>

    <p>All Deliveries outside Australia can be sent via international Airmail or FedEx International Courier.</p><br>

    <p>Please contact us for a freight cost price.</p><br>
</div>
</div>

<footer class="footer">
<div class="footer-section">
    <a href="/pages/privacy-policy">Privacy Policy</a>
    <a href="/pages/terms-conditions">Terms & Conditions</a>
    <a href="/pages/faq">FAQ</a>
    <a href="/pages/shipping-information">Shipping Information</a>
</div>
<div class="footer-section1">
    <p class="text-muted">padLOCK &copy; 2016</p>
</div>
</footer>
