.contact-h1 {
  color:#50b848 !important;
  font-size: 60px !important;
  margin:60px;
}

.form-inline {
  text-align: center;
}

.formy {
  width: 370px !important;
  height: 52px !important;
  font-size:16px !important;
  color: #333 !important;
  margin:15px;
  border-radius: 0 !important;
  border:0 !important;
  box-shadow: none !important;
  background:#EEEEEE !important;
  -webkit-transition: background-color 0.4s ease-out !important;
  -moz-transition: background-color 0.4s ease-out !important;
  -o-transition: background-color 0.4s ease-out !important;
  transition: background-color 0.4s ease-out !important;
}

.formy:hover {
  background: #FFFFFF !important;
  border: 1px solid #EEEEEE !important;
  color: #000 !important;
}

.formytext {
  width:775px !important;
  height:80px !important;
  font-size:16px !important;
  color: #333 !important;
  margin:15px;
  border-radius: 0 !important;
  border:0 !important;
  box-shadow: none !important;
  background:#EEEEEE !important;
  -webkit-transition: background-color 0.4s ease-out !important;
  -moz-transition: background-color 0.4s ease-out !important;
  -o-transition: background-color 0.4s ease-out !important;
  transition: background-color 0.4s ease-out !important;
}

.formytext:hover {
  background: #FFFFFF !important;
  border: 1px solid #EEEEEE !important;
  color: #000 !important;
}

.submit {
  width: 200px !important;
  height: 50px !important;
  border: 1px solid #50b848 !important;
  border-radius: 0 !important;
  color:#444 !important;
  background:#fff !important;
  -webkit-transition: background-color 0.4s ease-out !important;
  -moz-transition: background-color 0.4s ease-out !important;
  -o-transition: background-color 0.4s ease-out !important;
  transition: background-color 0.4s ease-out !important;
}

.submit:hover {
  background: #50b848 !important;
  border: 1px solid #fff !important;
  color: #fff !important;
}
