<!-- <footer class="footer">
  <div class="footer-section">
    <a>Privacy Policy</a>
    <a>Terms & Conditions</a>
    <a>FAQ</a>
    <a>Shipping Information</a>
  </div>
  <div class="footer-section1">
    <p class="text-muted">padLOCK &copy; 2016</p>
  </div>
</footer> -->
