<footer class="footer">
  <div class="footer-section">
    <a href="/pages/privacy-policy">Privacy Policy</a>
    <a href="/pages/terms-conditions">Terms & Conditions</a>
    <a href="/pages/faq">FAQ</a>
    <a href="/pages/shipping-information">Shipping Information</a>
  </div>
  <div class="footer-section1">
    <p class="text-muted">padLOCK &copy; 2016</p>
  </div>
</footer>
