<style>
.bod {
  background: url(/assets/run.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:static;
  margin: 0;
  padding-bottom: 0;
  height: 100%;
}
</style>

<div class="vertical-align-wrap">
  <div class="vertical-align vertical-align--middle">
    <h1><span class="green">pad</span>FIT</h1>
    <h3>Female underwear designed for security,<br> activity and comfort</h3>
    <button class="btn btn-active"><a href="/products">START SHOPPING</a></button>
  </div>
</div>
